<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Mi cuenta
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Mi cuenta</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-row>
    <ion-col>
      <ion-card color="primary">
        <ion-card-header>
          <ion-card-subtitle>Datos de cuenta</ion-card-subtitle>
          <ion-card-title> {{user?.displayName}}</ion-card-title>
        </ion-card-header>
        
        <ion-card-content>
          <ion-item>
            <ion-label> Email</ion-label>
            <ion-badge color="success">{{user?.email}}</ion-badge>

          </ion-item>
         
          <ion-item>
            <ion-label> Dinero en cuenta</ion-label>
            <ion-badge color="success">${{balance}}</ion-badge>

          </ion-item>
          <ion-item>
            <ion-label> Ganancia</ion-label>
            <ion-badge color="success">{{ganancia}}</ion-badge>

          </ion-item>
           <ion-item>
            <ion-label> Nivel de Confianza</ion-label>
            <ion-badge color="success">{{confianza}}</ion-badge>

          </ion-item>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button type="button" (click)="addBalance()"  expand="block" >Agregar Dinero</ion-button>
      <ion-button type="button" (click)="withraw()"  expand="block" >Retirar Dinero</ion-button>
      <ion-fab vertical="top" horizontal="end" slot="fixed">
        <ion-fab-button>
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </ion-col>
    
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-card color="primary">
        <ion-card-header>
          <!-- <ion-card-subtitle>Datos de cuenta</ion-card-subtitle> -->
          <ion-card-title> Movimientos</ion-card-title>
        </ion-card-header>
        
        <ion-card-content>
          <ion-list *ngFor="let movement of movements">
            <ion-item>
              <ion-label>{{movement.type}}: ${{movement.amount}}</ion-label>
            </ion-item>
         
          </ion-list>
        </ion-card-content>
      </ion-card>
  
    </ion-col>
  </ion-row>
</ion-content>
